.heroImg-container{
    width: 40%;
    height: 50%;

    img{
        height: 100%;
        width: 100%;
        object-fit: contain;
    }
}

@media screen and (max-width: 727px) {
    .heroImg-container{
        display: none;
    }
}