@tailwind base;
@tailwind components;
@tailwind utilities;

/* #root.active{
    background-color: #121212;
    color: #fff;

    input{
        color: black;
    }
} */

/* #root{
    min-height: 100vh;
} */

.dark {
    background-color: #121212;
    color: #fff;
}

.dark input {
    color: #000;
}
