@tailwind base;
@tailwind components;
@tailwind utilities;

.layout{
    position: relative;
    overflow-x: hidden !important;
}

.dark {
    background-color: #121212;
    color: #fff;
}

.dark input {
    color: #000;
}

.dark .profile-dropdown{
    background-color: #121212;
}

.dark .slider-menu{
    background-color: #121212;
}

.dark .device-edit-options{
    background-color: #121212;
}

.dark .loader-wrapper{
    background-color: #121212;
}

.dark .navbar-main-desktop{
    background-color: #121212;
    border-bottom: 1px solid #888;
}